aenum==3.1.11
aiobotocore==2.3.4
aiohttp==3.8.5
aioitertools==0.10.0
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.0.8
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.15.0
apispec==6.3.0
argcomplete==2.0.0
astroid==2.13.5
async-timeout==4.0.2
backports.zoneinfo==0.2.1
bidict==0.22.1
black==22.12.0
bleach==5.0.1
blinker==1.6.2
bodegha @ git+https://github.com/mehdigolzadeh/BoDeGHa@ac8a5d6913c305fa459a4cffc00fd1809158334d
botocore==1.24.21
breathe==4.30.0
brotlipy==0.7.0
cachetools==5.2.0
cfgv==3.3.1
click==8.1.6
clickhouse-driver==0.2.6
cmake==3.22.5
colorama==0.4.6
commonmark==0.9.1
crcmod==1.7
Cython==3.0a6
dataclasses-json==0.5.14
Deprecated==1.2.13
dill==0.3.5.1
Distance==0.1.3
distlib==0.3.7
dnspython==2.3.0
docopt==0.6.2
docutils==0.16
docx2txt==0.8
dotmap==1.1.16
email-validator==1.3.1
etcd-distro==3.5.1
exceptiongroup==1.1.2
fastnumbers==5.0.1
filelock==3.12.2
Flask==2.3.2
Flask-AppBuilder==4.3.5
Flask-Babel==2.0.0
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-SocketIO==5.3.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
fonttools==4.25.0
frozenlist==1.3.0
fsspec==2023.6.0
future==0.18.2
futures==3.0.5
gensim==4.2.0
google==3.0.0
graphscope==0.15.0
-e git+https://github.com/alibaba/GraphScope.git@1d9222738f8298d63c764b4dbf05c9a1c6164008#egg=graphscope_client&subdirectory=python
gremlinpython==3.6.0
grpcio-tools==1.47.0
gs-apps==0.15.0
gs-coordinator==0.15.0
gs-engine==0.15.0
gs-include==0.15.0
hdfs3==0.3.1
identify==2.5.26
imagesize==1.4.1
imbalanced-learn==0.10.1
imblearn==0.0
inflection==0.5.1
iniconfig==1.1.1
interchange==2021.0.4
ipython==8.10.0
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.2
keyring==23.6.0
kubernetes==24.2.0
langchain==0.0.249
langsmith==0.0.16
lazy-object-proxy==1.7.1
Levenshtein==0.21.0
libclang==14.0.1
lightgbm==3.3.5
limits==3.5.0
littleutils==0.2.2
-e git+https://github.com/jerryjliu/llama_index.git@ac5141e548f4ff8ff1347d495e3e020a5cb3e3bd#egg=llama_index
logger==1.4
m2r2==0.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-sqlalchemy==0.26.1
mccabe==0.6.1
mdurl==0.1.2
mistune==0.8.4
mizani==0.8.1
mkl-fft==1.3.1
mkl-service==2.4.0
monotonic==1.6
msgpack==1.0.4
multidict==6.0.2
munch==2.5.0
munkres==1.1.4
mypy==0.991
mypy-extensions==0.4.3
nb-conda==2.2.1
neo4j==5.8.0
networkx==2.8
nltk==3.7
nodeenv==1.8.0
numexpr==2.8.4
oauthlib==3.2.0
-e git+https://github.com/snap-stanford/ogb.git@ec19e8b86a413ee55b31be313f8217c815cdef9a#egg=ogb
openai==0.27.8
openapi-schema-pydantic==1.2.4
ordered-set==4.1.0
orjson==3.7.7
oss2==2.15.0
outdated==0.2.1
palettable==3.3.0
pandas==1.4.2
pansi==2020.7.3
parsec==3.13
pathspec==0.9.0
patsy==0.5.3
Pillow==9.0.1
pipelines==0.0.14
pkginfo==1.8.3
platformdirs==3.10.0
plotnine==0.10.1
pluggy==1.0.0
pre-commit==3.2.0
prison==0.2.1
prompt-toolkit==3.0.39
protobuf==4.21.9
psutil==5.9.1
py==1.11.0
py2neo==2021.2.3
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.15.0
pydantic==1.10.12
PyGithub==1.57
Pygments==2.15.1
PyJWT==2.6.0
pylint==2.15.10
pymongo==4.3.3
pymongoext==2.3.3
PyNaCl==1.5.0
pyodps==0.11.2.2
pypdf==3.14.0
pysimdjson==5.0.1
pytest==7.2.1
pytest-asyncio==0.21.0
pytest-cov==3.0.0
pytest-dotenv==0.5.2
python-dotenv==1.0.0
python-engineio==4.5.1
python-Levenshtein==0.21.0
python-socketio==5.8.0
pytz==2021.3
rake-nltk==1.0.6
rapidfuzz==3.0.0
readme-renderer==35.0
recommonmark==0.7.1
regex==2022.10.31
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==13.5.2
rsa==4.8
ruff==0.0.259
s3fs==2022.5.0
schema==0.5.0
scikit-misc==0.1.4
seaborn==0.12.1
sh==1.11
smart-open==6.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==4.0.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.49
SQLAlchemy-Utils==0.41.1
statsmodels==0.13.5
tenacity==8.2.2
tiktoken==0.4.0
tokenize-rt==5.2.0
tomli==2.0.1
tomlkit==0.11.0
torch==1.11.0
torchvision==0.12.0
tornado==6.3.1
treelib==1.6.1
twine==4.0.1
types-docutils==0.20.0.1
types-pyOpenSSL==23.2.0.2
types-redis==4.5.5.0
types-requests==2.28.11.8
types-setuptools==67.1.0.0
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing_extensions==4.7.1
tzlocal==5.0.1
vineyard==0.6.0
vineyard-io==0.6.0
virtualenv==20.24.2
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.3.6
wrapt==1.14.1
WTForms==3.0.1
xgboost==1.7.5
yarl==1.7.2
zstd==1.5.2.5
