aenum==3.1.11
aiohttp==3.8.5
aioitertools==0.10.0
aiosignal==1.2.0
alabaster==0.7.12
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.15.0
apispec==6.3.0
argcomplete==2.0.0
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.12.2
bidict==0.22.1
bleach==5.0.1
blinker==1.6.2
breathe==4.30.0
cachetools==5.2.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.0.4
cmake==3.22.5
colorama==0.4.4
commonmark==0.9.1
crcmod==1.7
Cython==3.0a6
dataclasses-json==0.5.14
Deprecated==1.2.13
dill==0.3.5.1
dnspython==2.2.1
docopt==0.6.2
docutils==0.16
email-validator==1.1.3
etcd-distro==3.5.1
Flask==2.2.5
Flask-AppBuilder==4.3.5
Flask-Babel==2.0.0
Flask-JWT-Extended==4.3.1
Flask-Limiter==3.2.0
Flask-Login==0.6.0
Flask-SocketIO==5.3.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
frozenlist==1.3.0
fsspec==2023.6.0
future==0.18.2
greenlet==2.0.2
grpcio-tools==1.47.0
hdfs3==0.3.1
idna==3.3
imagesize==1.4.1
importlib-metadata==6.6.0
importlib-resources==6.0.0
iniconfig==1.1.1
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.1
Jinja2==3.0.3
jsonschema==3.2.0
jsonschema-specifications==2023.7.1
keyring==23.6.0
langchain==0.0.251
langsmith==0.0.18
lazy-object-proxy==1.7.1
libclang==14.0.1
limits==2.8.0
llama-index==0.7.18
m2r2==0.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-sqlalchemy==0.26.1
mccabe==0.6.1
mdurl==0.1.2
mistune==0.8.4
msgpack==1.0.4
multidict==6.0.2
mypy-extensions==0.4.3
nest-asyncio==1.5.7
networkx==2.8
numexpr==2.8.4
numpy==1.24.4
oauthlib==3.2.0
openai==0.27.8
openapi-schema-pydantic==1.2.4
ordered-set==4.1.0
orjson==3.7.7
packaging==21.3
pandas==2.0.3
parsec==3.13
pathspec==0.9.0
pipreqs==0.4.13
pkginfo==1.8.3
pkgutil_resolve_name==1.3.10
pluggy==1.0.0
prison==0.2.1
psutil==5.9.1
py==1.11.0
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.15.0
pydantic==1.10.12
Pygments==2.15.0
PyJWT==2.6.0
pyparsing==3.0.8
pyrsistent==0.18.1
pysimdjson==5.0.1
pytest-cov==3.0.0
python-dateutil==2.8.2
python-engineio==4.5.1
python-socketio==5.8.0
pytz==2021.1
PyYAML==5.4.1
readme-renderer==35.0
recommonmark==0.7.1
referencing==0.30.0
regex==2023.6.3
requests==2.29.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.6.0
rpds-py==0.9.2
rsa==4.8
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.29
SQLAlchemy-Utils==0.37.8
tenacity==8.2.2
tiktoken==0.4.0
tomli==2.0.1
tomlkit==0.11.0
tqdm==4.65.0
treelib==1.6.1
typing-inspect==0.8.0
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.16
vineyard==0.6.0
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.3
wrapt==1.14.1
WTForms==3.0.1
yarg==0.1.9
yarl==1.7.2
zipp==3.15.0
zstd==1.5.2.5
